@{
    Layout = "_Layout";
}

<h1>Welcome to the restaurant order tracker!</h1>

<p>@Html.ActionLink("See All restaurants", "Index", "Restaurants")</p>
<p>@Html.ActionLink("See All Order Templates", "Index", "OrderTemplates")</p>
<p>@Html.ActionLink("See All Restaurant Orders", "Index", "RestaurantOrders")</p>
<p>@Html.ActionLink("See All Delivery Info", "Index", "Deliveries")</p>



